@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,700;1,600&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    background-color: #fff;
    color:#333;
}
.container{
    mix-height: 100vh ;
    max-width: 100%;
    display: flex; 
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;
    
}

.text-content{
    text-align: center;
}
.logo{
   margin: 80px 0 30px ;   
}
.text-content h1 span{
color: hsl(0, 2%, 63%);
font-weight: 300;
}
.text-content h1{
    margin: 10px auto;
    font-weight: 700;
    letter-spacing: 1px;
    color: hsl(209, 33%, 12%);
}
.text-content p{
    opacity: .9;
    font-size: 15px;
}
form{
    position: relative;
}
input[type="email"]{
    width:25%;
    padding: 12px 15px;
    border-radius: 50px;
    outline: none;
    border: 1px solid hsl(0, 2%, 63%) ;
    margin: 25px auto;
    margin-top: 25px;
}
input::placeholder{
    opacity: .7;
    font-size: 10px;
    font-family:'Libre Franklin', sans-serif ;
}
button[type="submit"]{
    width: 120px;
    padding: 13px;
    border-radius: 50px;
    border: none;
    margin-left: 10px;
    background-color:  hsl(223, 87%, 63%);
    box-shadow: 2px 5px 7px  hsla(223, 87%, 63%, 0.5);
    cursor: pointer;
    outline: none;
    color:#fff;
    transition: opacity .2s ease-in-out;
}
button[type="submit"]:hover{
   opacity: .8;
}

.img-content{
    align-self: center;
    background: url(./images/illustration-dashboard.png) no-repeat center center/ contain;
    height: 45vh;
    width: 620px;
    margin: 30px auto  60px;
    
}

footer{
    text-align: center;
   
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    
}
footer ul li {
   color:hsl(223, 87%, 63%);
   margin-right: 12px ;
   border: 1px solid hsl(223, 100%, 88%);
   border-radius: 50%;
   padding: 6px;
   width: 40px;
   height: 40px;
   cursor: pointer;
   transition: background .3s ease-in;
  
}
footer ul li:hover{
    background-color: hsl(223, 87%, 63%);
    color:#fff;
}
footer p{
    font-size: 12px;
    color: hsl(0, 2%, 63%);
    margin: 15px auto;
    
}


small{
    display: none;
    position: absolute;
    bottom: 0px;
    left:35%;
    font-size: 12px;
    color: hsl(354, 100%, 66%);   
}
form.error small {
    display: block;
}
form.error input {
    border: 2px solid  hsl(354, 100%, 66%);
}
/* Media Queries */
@media (max-width:768px){
    .container {
        padding: 0 15px;
    }
    .text-content h1{
        font-size: 19px;
    }
    input[type="email"],
    button[type="submit"]{
        width:calc(100% - 80px)
    }
    button[type="submit"]{
        margin-left: unset;
    }
    .img-content{
        width: calc(100% - 80px);
    }
    small{
        bottom: 40%;
        left:20%;  
    }
    form.error button[type="submit"]{
        margin-top: 22px;
    }
}